*{

  background-color: rgb(242, 248, 238);

}
.signup{
  margin: 100px;
}
.box{
  border: black;
 
  
  
}
.login{
  font-size:20px;
  width:100% ;
  max-width: 330px;
  padding:15px;
  margin: auto;
  height : 100%;
  
  
}
.button{
  width: 300px;
  color: aqua;
  background-color: black;
 
}